@charset "UTF-8";
html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/*Стилі для хедера та навігації*/
.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px 0;
  /*Адаптація для мобільних пристроїв*/
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.header .logo {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #01996d;
  padding: 8px 12px;
  border: 1.8px solid #01996d;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-transform: all 0.3s ease;
          transform: all 0.3s ease;
}
.header .logo:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #01996d;
  border-color: #017c5a;
}
.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
.header .navbar a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.header .navbar a:hover {
  color: #01996d;
}
.header .auth-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.header .auth-buttons .btn {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border: 1px solid #01996d;
  background: transparent;
  color: #01996d;
  cursor: pointer;
  -webkit-transition: background 0.9s ease, color 0.9s ease;
  transition: background 0.9s ease, color 0.9s ease;
}
.header .auth-buttons .btn:hover {
  background: #01996d;
  color: #ffffff;
}
.header .auth-buttons .btn:first-child {
  border: 2px solid #01996d;
}
.header .auth-buttons .btn-primary {
  background: #01996d;
  color: #ffffff;
  border: none;
}
.header .auth-buttons .btn-primary:hover {
  background: darken #01996d, 10%;
}
@media (max-width: 480px) {
  .header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 3px;
  }
  .header .navbar a {
    text-align: center;
    width: 100%;
    padding: 5px 0;
    margin: 0;
    font-size: 0.9rem;
  }
  .header .auth-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    width: 100%;
  }
  .header .auth-buttons .btn {
    padding: 8px 15px;
    font-size: 0.85rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header .logo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
}

/*Стилі для секції Hero*/
.hero {
  position: relative;
  overflow: hidden;
  background: url("../images/hero.jpeg") no-repeat center center/cover;
  color: #fff;
  padding: 100px 15px;
  width: 100%;
  height: 500px;
}
.hero .content-wrapper {
  padding: 20px;
  border-radius: 10px; /* Округлення */
  text-align: left; /* Вирівнювання тексту */
  margin-left: -30px;
}
.hero h1 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  line-height: 1.2;
  margin-bottom: 20px;
  color: #01996d;
}
.hero p {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  margin-bottom: 30px;
  color: #000000;
}
.hero .btn-primary {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  padding: 10px 20px;
  background: #01996d;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.hero .btn-primary:hover {
  background-color: #016649;
}
@media (max-width: 480px) {
  .hero .content-wrapper {
    padding: 20px;
    text-align: left;
    margin-top: 100%;
  }
  .hero h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .hero p {
    font-size: 0.9rem;
    margin-bottom: 15px;
    line-height: 1.5;
    color: white;
  }
  .hero .btn-primary {
    font-size: 0.9rem;
    margin-top: 10px;
    padding: 10px 20px;
    background: green;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
  }
}

/*Стилі для секції How it works*/
.how-it-works {
  padding: 50px 0;
  background-color: #ffffff;
}
.how-it-works .container {
  max-width: 1200px;
  margin: 0 auto;
}
.how-it-works .container .text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.how-it-works .container .text-content .text-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  margin-left: 15px;
}
.how-it-works .container .text-content .text-left .section-label {
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0;
}
.how-it-works .container .text-content .text-left h2 {
  font-size: 36px;
  color: #01996d;
  font-weight: bold;
  line-height: 1.6;
  margin-top: 0;
}
.how-it-works .container .text-content .text-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  margin-top: 5px;
  margin-right: -65px;
}
.how-it-works .container .text-content .text-right .section-description {
  font-size: 19px;
  color: #555;
  line-height: 1.4;
  margin: 0;
}
@media (max-width: 480px) {
  .how-it-works .text-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .how-it-works h2 {
    font-size: 18px !important;
  }
  .how-it-works .text-right {
    max-width: 90%;
    margin: 0 auto;
    text-align: justify;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 1px;
  }
  .how-it-works .section-description {
    font-size: 10px;
    line-height: 1.4;
  }
}

/*Стилі для карток*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 100px 1fr 100px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  max-width: 1200px;
  margin: 40px auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Картка 1 */
  /* Картка 2 */
  /* Картка 3 */
}
.cards .card {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* Стилі зображень */
}
.cards .card .card-content {
  margin-bottom: 20px;
}
.cards .card .card-content h3 {
  font-size: 24px;
  color: #000000;
  font-weight: 600;
  margin: 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: block;
}
.cards .card .card-content h3 .card-number {
  font-size: 60px;
  color: rgba(32, 201, 153, 0.2);
  font-weight: 700;
  line-height: 1;
  margin-right: 10px;
}
.cards .card .card-content p {
  font-size: 18px;
  color: #000000;
  line-height: 1.6;
  margin-top: 10px;
}
.cards .card .card-image img {
  width: 100%;
  height: 280px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  margin-top: 20px;
  display: block;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cards .card-1 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 0;
}
.cards .card-2 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-top: 20px;
}
.cards .card-3 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 1;
  grid-row: 1;
  margin-right: 0;
}

@media (max-width: 480px) {
  .cards {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
  }
  .cards .card {
    padding: 5px;
  }
  .cards .card-content h3 {
    font-size: 1rem;
  }
  .cards .card-content p {
    font-size: 0.7rem;
  }
  .cards .card-image img {
    height: 200px;
  }
}
/* Cтилі для сеції  "Історія успіху" */
.success-story {
  background-color: #2e6155;
  padding: 60px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*Стилі для мобільних пристроїав*/
}
.success-story .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.success-story .story-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 500px;
  margin-right: 30px;
}
.success-story .story-content h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.success-story .story-content p {
  font-size: 1.1rem;
  color: #e0e0e0;
  margin-bottom: 30px;
}
.success-story .story-content .btn {
  text-decoration: none;
  padding: 10px 15px;
  background-color: #007b5e;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.success-story .story-content .btn:hover {
  background-color: #00573d;
}
.success-story .story-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 500px;
  text-align: center;
}
.success-story .story-image img {
  max-width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
@media (max-width: 480px) {
  .success-story .btn {
    display: block;
    width: 100;
    max-width: 300px;
    margin: 20px auto;
    font-size: 1rem;
    padding: 12px 20px;
  }
  .success-story .btn:hover {
    background-color: #00573d;
  }
}

/* Секція "Продукт" */
.product {
  padding: 60px 20px;
  background-color: #ffffff;
  /*Стилі для секції "Продукт"*/
}
.product .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}
.product .product-image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.product .product-image img {
  width: 300px;
  max-width: 300px;
  height: auto;
  border-radius: 18px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgba(1, 153, 109, 0.2);
}
.product .product-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}
.product .product-content h2 {
  font-size: 2.5rem;
  color: #2e6155;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.2;
}
.product .product-content p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
}
.product .product-content .btn {
  text-decoration: none;
  padding: 15px 30px;
  background-color: #007b5e;
  color: #ffffff;
  font-weight: bold;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.product .product-content .btn:hover {
  background-color: #00573d;
}
@media (max-width: 480px) {
  .product .product .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product .product-image img {
    max-width: 90%;
    margin-bottom: 20px;
  }
  .product .product-content {
    text-align: center;
  }
  .product .product-content h2 {
    font-size: 1.8rem;
  }
  .product .product-content p {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .product .btn {
    display: block;
    width: 100;
    max-width: 300px;
    margin: 20px auto;
    font-size: 1rem;
    padding: 12px 20px;
  }
  .product .btn:hover {
    background-color: #00573d;
  }
}

/* Футер */
.footer {
  background-color: #2a5952;
  color: #fff;
  padding: 40px;
  text-align: left;
  min-height: 200px;
}
.footer .container {
  max-width: 1200px;
  margin: 0 auto;
}
.footer h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.footer .footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding-left: 0;
}
.footer .footer-links .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}
.footer .footer-links .contact-item i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #ffffff;
}
.footer .footer-links .contact-item a, .footer .footer-links .contact-item span {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.footer .footer-links .contact-item a:hover, .footer .footer-links .contact-item span:hover {
  color: #ffffff;
}